<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
   {{!-- Navbar --}}

   {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center ">
                        <figure>
                            <img src="img/about.jpg" style="width:350px;" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to iWeather App</p>
                        <h2>I am a <span class="text-clr">Full Stack Developer</span> And A Freelancer</h2>
                        <a href="https://www.instagram.com/adnanbuch/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
   {{>footer}}

</body>

</html>